In [11]:
import pandas as pd

# Read the pickle file
file_path = r"D:\Python Folder\ward.p"  # Use raw string to avoid issues with backslashes

# Load the data from the pickle file
wards = pd.read_pickle(file_path)

# Display the DataFrame
print(wards)
print(wards.shape)

   ward                   alderman                            address    zip
0     1         Proco "Joe" Moreno          2058 NORTH WESTERN AVENUE  60647
1     2              Brian Hopkins         1400 NORTH  ASHLAND AVENUE  60622
2     3                 Pat Dowell            5046 SOUTH STATE STREET  60609
3     4           William D. Burns    435 EAST 35TH STREET, 1ST FLOOR  60616
4     5         Leslie A. Hairston              2325 EAST 71ST STREET  60649
5     6         Roderick T. Sawyer   8001 S. MARTIN LUTHER KING DRIVE  60619
6     7        Gregory I. Mitchell              2249 EAST 95TH STREET  60617
7     8         Michelle A. Harris    8539 SOUTH COTTAGE GROVE AVENUE  60619
8     9           Anthony A. Beale                34 EAST 112TH PLACE  60628
9    10      Susan Sadlowski Garza           10500 SOUTH EWING AVENUE  60617
10   11     Patrick Daley Thompson          3659 SOUTH HALSTED STREET  60609
11   12            George Cardenas           3476 SOUTH ARCHER AVENUE  60608
12   13                Marty Quinn            6500 SOUTH PULASKI ROAD  60629
13   14            Edward M. Burke              2650 WEST 51ST STREET  60632
14   15           Raymond A. Lopez              1650 WEST 63RD STREET  60636
15   16            Toni L. Foulkes              3045 WEST 63RD STREET  60629
16   17             David H. Moore          7313 SOUTH ASHLAND AVENUE  60636
17   18          Derrick G. Curtis            8359 SOUTH PULASKI ROAD  60652
18   19          Matthew J. O'Shea         10400 SOUTH WESTERN AVENUE  60643
19   20          Willie B. Cochran    6357 SOUTH COTTAGE GROVE AVENUE  60637
20   21    Howard B. Brookins, Jr.  9011 SOUTH ASHLAND AVENUE, UNIT B  60620
21   22              Ricardo Munoz        2500 SOUTH ST. LOUIS AVENUE  60623
22   23        Michael R. Zalewski           6247 SOUTH ARCHER AVENUE  60638
23   24         Michael Scott, Jr.           1158 SOUTH KEELER AVENUE  60624
24   25       Daniel "Danny" Solis      1800 SOUTH BLUE ISLAND AVENUE  60608
25   26          Roberto Maldonado          2511 WEST DIVISION STREET  60622
26   27        Walter Burnett, Jr.             4 NORTH WESTERN AVENUE  60612
27   28             Jason C. Ervin              2602 WEST 16TH STREET  60612
28   29           Chris Taliaferro             6272 WEST NORTH AVENUE  60639
29   30          Ariel E. Reyboras        3559 NORTH MILWAUKEE AVENUE  60641
30   31  Milagros "Milly" Santiago            2521 NORTH PULASKI ROAD  60639
31   32           Scott Waguespack         2657 NORTH CLYBOURN AVENUE  60614
32   33               Deborah Mell         3001 WEST IRVING PARK ROAD  60618
33   34           Carrie M. Austin              507 WEST 111TH STREET  60628
34   35        Carlos Ramirez-Rosa           2710 NORTH SAWYER AVENUE  60647
35   36           Gilbert Villegas                 6934 WEST DIVERSEY  60607
36   37              Emma M. Mitts           4924 WEST CHICAGO AVENUE  60651
37   38           Nicholas Sposato          3821  NORTH HARLEM AVENUE  60634
38   39           Margaret Laurino          4404 WEST LAWRENCE AVENUE  60630
39   40        Patrick J. O'Connor          5850 NORTH LINCOLN AVENUE  60659
40   41      Anthony V. Napolitano           7442 NORTH HARLEM AVENUE  60631
41   42             Brendan Reilly   325 WEST HURON STREET, SUITE 510  60654
42   43             Michelle Smith          2523 NORTH HALSTED STREET  60614
43   44                 Tom Tunney        3223 NORTH SHEFFIELD AVENUE  60657
44   45              John S. Arena        4754 NORTH MILWAUKEE AVENUE  60630
45   46            James Cappleman         4544 NORTH BROADWAY AVENUE  60640
46   47                Ameya Pawar          4243 NORTH LINCOLN AVENUE  60618
47   48             Harry Osterman         5533 NORTH BROADWAY AVENUE  60640
48   49                  Joe Moore        7356 NORTH GREENVIEW AVENUE  60626
49   50       Debra L. Silverstein    2949 WEST DEVON AVENUE, SUITE A  60659
(50, 4)

In [19]:
import pandas as pd

# Read the pickle file
file_path = r"D:\Python Folder\census.p"  # Use raw string to avoid issues with backslashes

# Load the data from the pickle file
census = pd.read_pickle(file_path)

# Display the DataFrame

print(census.head())

print(census.shape)

  ward  pop_2000  pop_2010 change                                  address  \
0    1     52951     56149     6%              2765 WEST SAINT MARY STREET
1    2     54361     55805     3%                 WM WASTE MANAGEMENT 1500
2    3     40385     53039    31%                      17 EAST 38TH STREET
3    4     51953     54589     5%  31ST ST HARBOR BUILDING LAKEFRONT TRAIL
4    5     55302     51455    -7%  JACKSON PARK LAGOON SOUTH CORNELL DRIVE

     zip
0  60647
1  60622
2  60653
3  60653
4  60637
(50, 6)

In [20]:
# Merge 2 tables at one

wards_census=wards.merge(census, on='ward')
wards_census.keys()
wards_census

,ward,alderman,address_x,zip_x,pop_2000,pop_2010,change,address_y,zip_y
0,1,"Proco ""Joe"" Moreno",2058 NORTH WESTERN AVENUE,60647,52951,56149,6%,2765 WEST SAINT MARY STREET,60647
1,2,Brian Hopkins,1400 NORTH ASHLAND AVENUE,60622,54361,55805,3%,WM WASTE MANAGEMENT 1500,60622
2,3,Pat Dowell,5046 SOUTH STATE STREET,60609,40385,53039,31%,17 EAST 38TH STREET,60653
3,4,William D. Burns,"435 EAST 35TH STREET, 1ST FLOOR",60616,51953,54589,5%,31ST ST HARBOR BUILDING LAKEFRONT TRAIL,60653
4,5,Leslie A. Hairston,2325 EAST 71ST STREET,60649,55302,51455,-7%,JACKSON PARK LAGOON SOUTH CORNELL DRIVE,60637
5,6,Roderick T. Sawyer,8001 S. MARTIN LUTHER KING DRIVE,60619,54989,52341,-5%,150 WEST 74TH STREET,60636
6,7,Gregory I. Mitchell,2249 EAST 95TH STREET,60617,54593,51581,-6%,8549 SOUTH OGLESBY AVENUE,60617
7,8,Michelle A. Harris,8539 SOUTH COTTAGE GROVE AVENUE,60619,54039,51687,-4%,1346-1352 EAST 75TH STREET,60649
8,9,Anthony A. Beale,34 EAST 112TH PLACE,60628,52008,51519,-1%,11039-11059 SOUTH WENTWORTH AVENUE,60628
9,10,Susan Sadlowski Garza,10500 SOUTH EWING AVENUE,60617,56613,51535,-9%,10534 SOUTH AVENUE F,46394
10,11,Patrick Daley Thompson,3659 SOUTH HALSTED STREET,60609,64228,51497,-20%,943-947 WEST 14TH PLACE,60607
11,12,George Cardenas,3476 SOUTH ARCHER AVENUE,60608,68922,52235,-24%,CP 46 STEVENSON EXPRESSWAY,60632
12,13,Marty Quinn,6500 SOUTH PULASKI ROAD,60629,64382,53722,-17%,SOUTH RAMP SOUTH LARAMIE AVENUE,60638
13,14,Edward M. Burke,2650 WEST 51ST STREET,60632,80143,54031,-33%,4540 WEST 51ST STREET,60632
14,15,Raymond A. Lopez,1650 WEST 63RD STREET,60636,56057,51501,-8%,CHICAGO FIRE DEPARTMENT ENGINE COMPANY 123 2215,60632
15,16,Toni L. Foulkes,3045 WEST 63RD STREET,60629,50205,51954,3%,6036 SOUTH WOOD STREET,60636
16,17,David H. Moore,7313 SOUTH ASHLAND AVENUE,60636,49264,51846,5%,7216 SOUTH WINCHESTER AVENUE,60636
17,18,Derrick G. Curtis,8359 SOUTH PULASKI ROAD,60652,55043,52992,-4%,3286 WEST COLUMBUS AVENUE,60652
18,19,Matthew J. O'Shea,10400 SOUTH WESTERN AVENUE,60643,54546,51525,-6%,9999 SOUTH FRANCISCO AVENUE,60805
19,20,Willie B. Cochran,6357 SOUTH COTTAGE GROVE AVENUE,60637,51854,52372,1%,DAN RYAN EXPRESSWAY PARK MANOR,60621
20,21,"Howard B. Brookins, Jr.","9011 SOUTH ASHLAND AVENUE, UNIT B",60620,51751,51632,0%,8852-8854 SOUTH EMERALD AVENUE,60620
21,22,Ricardo Munoz,2500 SOUTH ST. LOUIS AVENUE,60623,59734,53515,-10%,4233 WEST 36TH STREET,60632
22,23,Michael R. Zalewski,6247 SOUTH ARCHER AVENUE,60638,63691,53728,-16%,CHICAGO MIDWAY INTERNATIONAL AIRPORT WEST 62ND...,60629
23,24,"Michael Scott, Jr.",1158 SOUTH KEELER AVENUE,60624,50879,54909,8%,1635 SOUTH CHRISTIANA AVENUE,60623
24,25,"Daniel ""Danny"" Solis",1800 SOUTH BLUE ISLAND AVENUE,60608,55954,54539,-3%,1632-1746 SOUTH MILLER STREET,60608
25,26,Roberto Maldonado,2511 WEST DIVISION STREET,60622,56841,53516,-6%,LITTLE CUBS FIELD COMFORT STATION 1400,60622
26,27,"Walter Burnett, Jr.",4 NORTH WESTERN AVENUE,60612,61287,52939,-14%,2151-2153 WEST CHICAGO AVENUE,60651
27,28,Jason C. Ervin,2602 WEST 16TH STREET,60612,49423,55199,12%,RML SPECIALTY HOSPITAL 3435,60624
28,29,Chris Taliaferro,6272 WEST NORTH AVENUE,60639,61949,55267,-11%,1241 NORTH RIDGELAND AVENUE,60302
29,30,Ariel E. Reyboras,3559 NORTH MILWAUKEE AVENUE,60641,72698,55560,-24%,5118 WEST FLETCHER STREET,60641
30,31,"Milagros ""Milly"" Santiago",2521 NORTH PULASKI ROAD,60639,65045,53724,-17%,2854 NORTH KEATING AVENUE,60641
31,32,Scott Waguespack,2657 NORTH CLYBOURN AVENUE,60614,57204,55184,-4%,2901 NORTH WASHTENAW AVENUE,60618
32,33,Deborah Mell,3001 WEST IRVING PARK ROAD,60618,63695,55598,-13%,4041-4043 NORTH RICHMOND STREET,60625
33,34,Carrie M. Austin,507 WEST 111TH STREET,60628,49922,51599,3%,11544-11546 SOUTH PEORIA STREET,60827
34,35,Carlos Ramirez-Rosa,2710 NORTH SAWYER AVENUE,60647,57588,55281,-4%,3634 WEST BELMONT AVENUE,60618
35,36,Gilbert Villegas,6934 WEST DIVERSEY,60607,63376,54766,-14%,2918 NORTH RUTHERFORD AVENUE,60634
36,37,Emma M. Mitts,4924 WEST CHICAGO AVENUE,60651,56120,51538,-8%,4738-4748 WEST RICE STREET,60651
37,38,Nicholas Sposato,3821 NORTH HARLEM AVENUE,60634,66011,56001,-15%,7307-7331 WEST IRVING PARK ROAD,60706
38,39,Margaret Laurino,4404 WEST LAWRENCE AVENUE,60630,64291,55882,-13%,QUEEN OF ALL SAINTS BASILICA 6280,60646
39,40,Patrick J. O'Connor,5850 NORTH LINCOLN AVENUE,60659,58652,55319,-6%,5536 NORTH ARTESIAN AVENUE,60645
40,41,Anthony V. Napolitano,7442 NORTH HARLEM AVENUE,60631,56127,55991,0%,1652 SOUTH CLIFTON AVENUE,60068
41,42,Brendan Reilly,"325 WEST HURON STREET, SUITE 510",60654,68102,55870,-18%,410-420 WEST GRAND AVENUE,60654
42,43,Michelle Smith,2523 NORTH HALSTED STREET,60614,57668,56170,-3%,LINCOLN PARK ZOO 2001,60614
43,44,Tom Tunney,3223 NORTH SHEFFIELD AVENUE,60657,58758,56058,-5%,507-513 WEST ALDINE AVENUE,60657
44,45,John S. Arena,4754 NORTH MILWAUKEE AVENUE,60630,60653,55967,-8%,CONGREGATIONAL CHURCH OF JEFFERSON PARK 5320,60630
45,46,James Cappleman,4544 NORTH BROADWAY AVENUE,60640,56587,53784,-5%,UPTOWN BROADWAY BUILDING 4743-4763,60640
46,47,Ameya Pawar,4243 NORTH LINCOLN AVENUE,60618,52108,55074,6%,2153 WEST BERTEAU AVENUE,60618
47,48,Harry Osterman,5533 NORTH BROADWAY AVENUE,60640,56246,55014,-2%,1025 WEST HOLLYWOOD AVENUE,60660
48,49,Joe Moore,7356 NORTH GREENVIEW AVENUE,60626,59435,54633,-8%,1426 WEST ESTES AVENUE,60645
49,50,Debra L. Silverstein,"2949 WEST DEVON AVENUE, SUITE A",60659,62383,55809,-11%,2638 WEST NORTH SHORE AVENUE,60645

In [14]:
wards_census.columns

Index(['ward', 'alderman', 'address_x', 'zip_x', 'pop_2000', 'pop_2010',
       'change', 'address_y', 'zip_y'],
      dtype='object')

In [16]:
wards_census.keys()

Index(['ward', 'alderman', 'address_x', 'zip_x', 'pop_2000', 'pop_2010',
       'change', 'address_y', 'zip_y'],
      dtype='object')

In [18]:
wards_census.index

RangeIndex(start=0, stop=50, step=1)

In [21]:
import pandas as pd

# Taxi Owners
file_path = r"D:\Python Folder\taxi_owners.p"  # Use raw string to avoid issues with backslashes

# Load the data from the pickle file
taxi_owners = pd.read_pickle(file_path)

# Display the DataFrame

print(taxi_owners.head())

print(taxi_owners.shape)

     rid   vid           owner                 address    zip
0  T6285  6285  AGEAN TAXI LLC     4536 N. ELSTON AVE.  60630
1  T4862  4862    MANGIB CORP.  5717 N. WASHTENAW AVE.  60659
2  T1495  1495   FUNRIDE, INC.     3351 W. ADDISON ST.  60618
3  T4231  4231    ALQUSH CORP.   6611 N. CAMPBELL AVE.  60645
4  T5971  5971  EUNIFFORD INC.     3351 W. ADDISON ST.  60618
(3519, 5)

In [22]:
import pandas as pd

# Taxi Owners
file_path = r"D:\Python Folder\taxi_vehicles.p"  # Use raw string to avoid issues with backslashes

# Load the data from the pickle file
taxi_veh = pd.read_pickle(file_path)

# Display the DataFrame

print(taxi_veh.head())

print(taxi_veh.shape)

    vid    make   model  year fuel_type                owner
0  2767  TOYOTA   CAMRY  2013    HYBRID       SEYED M. BADRI
1  1411  TOYOTA    RAV4  2017    HYBRID          DESZY CORP.
2  6500  NISSAN  SENTRA  2019  GASOLINE       AGAPH CAB CORP
3  2746  TOYOTA   CAMRY  2013    HYBRID  MIDWEST CAB CO, INC
4  5922  TOYOTA   CAMRY  2013    HYBRID       SUMETTI CAB CO
(3519, 6)

In [27]:
taxi_own_veh = taxi_owners.merge(taxi_veh, on='vid')
taxi_own_veh.head()

,rid,vid,owner_x,address,zip,make,model,year,fuel_type,owner_y
0,T6285,6285,AGEAN TAXI LLC,4536 N. ELSTON AVE.,60630,NISSAN,ALTIMA,2011,HYBRID,AGEAN TAXI LLC
1,T4862,4862,MANGIB CORP.,5717 N. WASHTENAW AVE.,60659,HONDA,CRV,2014,GASOLINE,MANGIB CORP.
2,T1495,1495,"FUNRIDE, INC.",3351 W. ADDISON ST.,60618,TOYOTA,SIENNA,2015,GASOLINE,"FUNRIDE, INC."
3,T4231,4231,ALQUSH CORP.,6611 N. CAMPBELL AVE.,60645,TOYOTA,CAMRY,2014,HYBRID,ALQUSH CORP.
4,T5971,5971,EUNIFFORD INC.,3351 W. ADDISON ST.,60618,TOYOTA,SIENNA,2015,GASOLINE,EUNIFFORD INC.

In [28]:
taxi_own_veh = taxi_owners.merge(taxi_veh, on='vid',suffixes=('_own','_veh'))

In [29]:
taxi_own_veh.head()

,rid,vid,owner_own,address,zip,make,model,year,fuel_type,owner_veh
0,T6285,6285,AGEAN TAXI LLC,4536 N. ELSTON AVE.,60630,NISSAN,ALTIMA,2011,HYBRID,AGEAN TAXI LLC
1,T4862,4862,MANGIB CORP.,5717 N. WASHTENAW AVE.,60659,HONDA,CRV,2014,GASOLINE,MANGIB CORP.
2,T1495,1495,"FUNRIDE, INC.",3351 W. ADDISON ST.,60618,TOYOTA,SIENNA,2015,GASOLINE,"FUNRIDE, INC."
3,T4231,4231,ALQUSH CORP.,6611 N. CAMPBELL AVE.,60645,TOYOTA,CAMRY,2014,HYBRID,ALQUSH CORP.
4,T5971,5971,EUNIFFORD INC.,3351 W. ADDISON ST.,60618,TOYOTA,SIENNA,2015,GASOLINE,EUNIFFORD INC.

In [30]:
print(taxi_own_veh['fuel_type'].value_counts())

fuel_type
HYBRID                    2792
GASOLINE                   611
FLEX FUEL                   89
COMPRESSED NATURAL GAS      27
Name: count, dtype: int64

In [49]:
licenses= pd.read_pickle(r"D:\Python Folder\licenses.p")
licenses.head()

  account ward  aid                   business               address    zip
0  307071    3  743       REGGIE'S BAR & GRILL       2105 S STATE ST  60616
1      10   10  829                 HONEYBEERS   13200 S HOUSTON AVE  60633
2   10002   14  775                CELINA DELI     5089 S ARCHER AVE  60632
3   10005   12  NaN  KRAFT FOODS NORTH AMERICA        2005 W 43RD ST  60609
4   10044   44  638  NEYBOUR'S TAVERN & GRILLE  3651 N SOUTHPORT AVE  60613

In [51]:
ward_licenses = wards.merge(licenses, on='ward')
ward_licenses.head()

,ward,alderman,address_x,zip_x,account,aid,business,address_y,zip_y
0,1,"Proco ""Joe"" Moreno",2058 NORTH WESTERN AVENUE,60647,12024,NaN,DIGILOG ELECTRONICS,1038 N ASHLAND AVE,60622
1,1,"Proco ""Joe"" Moreno",2058 NORTH WESTERN AVENUE,60647,14446,743,EMPTY BOTTLE INC,1035 N WESTERN AVE 1ST,60622
2,1,"Proco ""Joe"" Moreno",2058 NORTH WESTERN AVENUE,60647,14624,775,LITTLE MEL'S HOT DOG,2205 N CALIFORNIA AVE,60647
3,1,"Proco ""Joe"" Moreno",2058 NORTH WESTERN AVENUE,60647,14987,NaN,MR. BROWN'S LOUNGE,2301 W CHICAGO AVE 1ST,60622
4,1,"Proco ""Joe"" Moreno",2058 NORTH WESTERN AVENUE,60647,15642,814,Beat Kitchen,2000-2100 W DIVISION ST,60622

In [43]:
wards.shape

(50, 4)

In [53]:
licenses.shape

(10000, 6)

In [54]:
ward_licenses.shape

(10000, 9)

In [55]:
biz_owners= pd.read_pickle(r"D:\Python Folder\business_owners.p")
biz_owners.head()

  account first_name  last_name      title
0      10      PEARL    SHERMAN  PRESIDENT
1      10      PEARL    SHERMAN  SECRETARY
2   10002     WALTER     MROZEK    PARTNER
3   10002     CELINA     BYRDAK    PARTNER
4   10005      IRENE  ROSENFELD  PRESIDENT

In [56]:
# Merge the licenses and biz_owners table on account


licenses_owners = licenses.merge(biz_owners, on='account')

# Group the results by title then count the number of accounts
counted_df = licenses_owners.groupby('title').agg({'account':'count'})

# Sort the counted_df in descending order

sorted_df = counted_df.sort_values(by='account', ascending=False)

# Use .head() method to print the first few rows of sorted_df
print(sorted_df.head())

                 account
title
PRESIDENT           6259
SECRETARY           5205
SOLE PROPRIETOR     1658
OTHER               1200
VICE PRESIDENT       970